<html>
    <head>
        <title>Ember build size tracker</title>
        <script src="node_modules/chart.js/Chart.min.js"></script>
        <script src="Chart.Scatter.min.js"></script>

        <style>
            body {
                background-color: #FAF4F1;
                font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                padding: 15px;
                font-size: 12px;
            }

            .container {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            canvas {
                width: 95% !important;
                height: 500px;
            }

            .green {
                color: green;
            }

            .group {
                padding: 20px 0px;
            }
        </style>
    </head>
    <body>

        <% _.forEach(branches, function(branch) { %>
            <div class="container group">
                <h2>Ember ${branch.branch} build size (in bytes). Tracking period <%= branch.trackingPeriod %>.</h2>
            </div>
            <div class="container">
                <canvas id="${branch.branch}Chart" width="90%" height="30%"></canvas>
            </div>
            <div class="container group">
                <div>
                    This chart tracks the size of <b>ember.min.js</b> located in <a href="https://github.com/components/ember/tree/${branch.branch}">https://github.com/components/ember/tree/${branch.branch}</a>. <span class="green">Green line</span> shows the gzipped size. Chart is updated once in a day.
                </div>
            </div>
        <% }); %>

        <script>
            var data = {};
            var canvas;

            Chart.defaults.global.responsive = true;
            Chart.defaults.global.scaleFontSize = 10;

            <% _.forEach(branches, function(branch) { %>
                data["${branch.branch}"] = [{
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(120,120,120,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: ${JSON.stringify(branch.dataPoints)}
                }, {
                    fillColor: "rgba(120,220,120,0.2)",
                    strokeColor: "rgba(120,220,120,1)",
                    pointColor: "rgba(120,220,120,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: ${JSON.stringify(branch.dataPointsGzipped)}
                }];

                canvas = document.getElementById("${branch.branch}Chart");

                new Chart(canvas.getContext("2d")).Scatter(data["${branch.branch}"], {
                    scaleShowGridLines : true,
                    pointDotRadius: 2,
                    pointHitDetectionRadius: 2,
                    scaleType: "date",
                    scaleDateFormat: "mmm d yyyy",
                    scaleDateTimeFormat: "mmm d, yyyy",
                    bezierCurve: false
                });
            <% }); %>
        </script>


        <div class="container">
            <div>
                <a href="https://github.com/ilkkao/ember-size-tracker">Source</a>
            </div>
        </div>
    </body>
</html>
