<html>
    <head>
        <title>Ember build size tracker</title>
        <script src="node_modules/chart.js/Chart.min.js"></script>

        <style>
            body {
                background-color: #FAF4F1;
                font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                padding: 15px;
                font-size: 14px;
            }

            .container {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 35px 10px;
            }

            canvas {
                width: 90% !important;
                height: 300px;
            }
        </style>
    </head>
    <body>

        <% _.forEach(branches, function(branch) { %>
            <div class="container">
                <h2>Ember ${branch.branch} build size (in bytes)</h2>
            </div>
            <div class="container">
                <canvas id="${branch.branch}Chart" width="90%" height="30%"></canvas>
            </div>
            <div class="container">
                <div>
                    This chart tracks the size of <b>ember.min.js</b> located in <a href="https://github.com/components/ember/tree/${branch.branch}">https://github.com/components/ember/tree/${branch.branch}</a>. Chart is updated once in a day.
                </div>
            </div>
        <% }); %>

        <script>
            var data = {};
            var canvas;

            <% _.forEach(branches, function(branch) { %>

                data["${branch.branch}"] = {
                    labels: ${JSON.stringify(branch.labels)},
                    datasets: [{
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(120,120,120,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: ${JSON.stringify(branch.dataPoints)}
                    }]
                };

                canvas = document.getElementById("${branch.branch}Chart");

                new Chart(canvas.getContext("2d")).Line(data["${branch.branch}"], {
                    scaleShowGridLines : true,
                    pointDotRadius: 2,
                    pointHitDetectionRadius: 2
                });

            <% }); %>
        </script>


        <div class="container">
            <div>
                <a href="https://github.com/ilkkao/ember-size-tracker">Source</a>
            </div>
        </div>
    </body>
</html>
